body {
    font-family: "Josefin Sans", serif;
    /* background-color: #08081b; */
    background-image: url(hey_invert.jpg); 
    /* background-image: ; */
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.hero h4{
    font-size: 23px;
}

.hero{
    background-image: url(hey_invert.jpg);
}
.live-auctions{
    background-image: url(hey_invert.jpg);
}
.navbar {
    background-image: url(hey_invert.jpg);
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #08081b; */
    /* border-color: #262626; */
}

.navbar .logo {
    font-size: 24px;
    color: #FFFFFF;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #AAAAAA;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #FFFFFF;
}

.wallet-btn {
   text-decoration: none;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #08081b; */
    color: #FFFFFF;
    border-color: #4d1087;
}
.welcome-button-container {
    
    margin-bottom: 10px;
}

.welcome-button {
    background: linear-gradient(45deg, #A900FF, #6C63FF);
    color: #fff;
    border: none;
    padding: 10px 20px;
    /* border-radius: 20px; */
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.welcome-button:hover {
    transform: translateY(-3px);
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;   /* Full screen height */
    width: 100vw;    /* Full screen width */
    
    
    gap: 90px;
    padding: 0;      /* Remove padding for a full-screen look */
    box-sizing: border-box;
}


.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.2;
}

.hero p {
    color: #676363;
    margin-bottom: 20px;
}

.btn-primary, .btn-secondary,.btn-tri, .btn-forth, .btn-fifth {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    /* border: 2px solid; Add border width and style */
}

.btn-primary {
    text-decoration: none;
    background-color: #08081b;
    color: #FFFFFF;
    background: linear-gradient(45deg, #5c34c1, #F163C3, #FEDECA); /* Add border color for primary button */
}

.btn-secondary {
    text-decoration: none;
    background-color: #08081b;
    color: #CCCCFF;
    border-color: #4d1087; /* Add border color for secondary button */
}
.btn-tri{
    margin-right: 250px;
    text-decoration: none;
    color: #CCCCFF;
    background: linear-gradient(45deg, #A900FF, #6C63FF);
}
.btn-forth{
    margin-right: 250px;
    color: #CCCCFF;
    text-decoration: none;
    background: linear-gradient(45deg, #FFC120, #d97d74);
}
.btn-fifth{
    margin-right: 250px;
    color: #CCCCFF;
    text-decoration: none;
    background: linear-gradient(45deg, #5c34c1, #F163C3, #FEDECA);
}

/*  */

.cards-container {
    
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.project-card {
    background-color: #1F1F3D;
    border-radius: 10px 70px 30px;
    overflow: hidden;
    width: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin: 20px;
    text-align: center;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.project-content {
    padding: 15px;
}

.project-content h3 {
    color: #FFFFFF;
    margin: 10px 0;
}

.project-content p {
    color: #CCCCCC;
    font-size: 14px;
}

.project-content a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.project-content .btn-primary {
    background-color: #6C63FF;
    color: #FFFFFF;
}

.project-content .btn-secondary {
    background-color: #4d1087;
    color: #FFFFFF;
}

.project-content .btn-primary:hover,
.project-content .btn-secondary:hover {
    opacity: 0.8;
}


.new-design {
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.new-design:hover {
    transform: scale(1.05);
}

.new-design img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-content {
    background: #a6a2a2;
    padding: 15px;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-content h3 {
    color: #333;
    margin: 0;
    font-size: 18px;
}

.card-content p {
    color: #888;
    margin-top: 5px;
    font-size: 14px;
}


.bid-btn {
    background-color: #6C63FF;
    border: none;
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}



.tabs-container {
    border-color: #262626;
    border: 2px solid;
    /* border-color: #4d1087; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-radius: 50px;
    overflow: hidden;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.tab-btn {
   
    
    flex: 1;
    padding: 15px 0;
    border: none;
    outline: none;
    background: #1e1e2f;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.tab-btn:first-child {
    border-color: #262626;
    border: 2px solid;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.tab-btn:last-child {
    border-color: #262626;
    border: 2px solid;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.tab-btn.active {
    background: linear-gradient(45deg, #A900FF, #6C63FF);
    color: #FFFFFF;
}

.tab-btn:hover {
    background: #33334d;
}



.timeline {
   /* background-image: url(hey_invert.jpg); */
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.timeline-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff;
}

.timeline-event {
    position: relative;
    padding-left: 50px;
    margin-bottom: 40px;
}

.timeline-icon {
    position: absolute;
    left: 0;
    /* background: #4a4a4a; */
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 2;
}

.timeline-content {
    /* background: #2c2c2c; */
    color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    position: relative;
}

.timeline-content h3 {
    margin: 0;
    font-size: 1.5rem;
}

.timeline-content p {
    margin: 5px 0 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #555;
    z-index: 1;
}



.cards-section {
    background-image: url(hey.jpg);
    padding: 50px 20px;
    /* background-color: #08081b; */
    color: #ffffff;
    text-align: center;
}

.cards-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-item {
    background: rgba(255, 255, 255, 0.1);  /* Transparent white */
    backdrop-filter: blur(10px);  /* Blur effect */
    -webkit-backdrop-filter: blur(10px);  /* For Safari */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: center;
}

.card-item:hover {
    transform: translateY(-10px);
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #6C63FF;
}

.card-item h3 {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #fff;
}

.card-item p {
    font-size: 1rem;
    color: #ccc;
}


.connect-section {
    padding: 50px 20px;
    /* background-image: url(half_hey.png); */
    /* background-color: #08081b; */
    color: #ffffff;
    text-align: center;
}

.connect-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
}

/* Social Links */
.connect-links {
    display: flex;
    justify-content: center;
    /* gap: 40px; */
    /* flex-wrap: wrap; */
    margin-bottom: 40px;
}

.connect-item {
    text-decoration: none;
    /* background: #1F1F3D; */
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #fff;
}

.connect-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.connect-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}

.connect-item span {
    display: block;
    font-size: 1.2rem;
    color: #ccc;
}

/* Contact Form */
.contact-form {
    background: rgba(255, 255, 255, 0.1);  /* Transparent white */
    backdrop-filter: blur(10px);  /* Blur effect */
    -webkit-backdrop-filter: blur(10px);  /* For Safari */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 500px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: left;
    padding: 30px;
}

.contact-form h3 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #ccc;
}

.contact-form textarea {
    min-height: 100px;
    resize: vertical;
}

.submit-btn {
    background: linear-gradient(45deg, #A900FF, #6C63FF);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    width: 100%;
}

.submit-btn:hover {
    transform: translateY(-3px);
}


/* Featured  s Section */
.featured-skills {
    background-image: url(hey_invert.jpg);
    padding: 50px 128px;
    /* background-color: #1a1a1a; */
    color: #ffffff;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* gap: 20px; */
    padding: 20px;
}

.skill-card {
    /* background-color: #2a2a2a; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.skill-card h2 {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

.skill-card p {
    text-align: justify; 
    font-size: 1rem;
    color: #cccccc;
}

 .live-auctions h1{
    font-size: 48px;
    padding-top: 100px;
    text-align:center; 
    color:#FFFFFF;
    margin-top: 0px;
} 